sou{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Profile Edit{% endblock %}

{% block content %}
    <div class="row mx-5">
        <div class="mx-4">
            <h2>Profile Edit</h2>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form | crispy }}
             <a href="{% url 'users:profile' request.user %}" class="btn btn-primary">Back</a>
            <button type="submit" class="btn btn-outline-success">Save</button>
            </form>
        </div>
    </div>
{% endblock %}